@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form method="POST">
                <input style="float: left" type="text" name="NewMessage" for="Text">
                <input type="submit" maxlength="10" value="Share">
            </form>
            @if (Model.FailedValidationString != null)
            {
                <div class="cheepbox">
                    @Model.FailedValidationString
                </div>
            }
        </div>

        if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li class="box" style="position: relative; padding-bottom: 16px;">
                        <p style="display: inline-block;">
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                                @if (!cheep.Author.Equals(User.Identity.Name))
                                {
                                    <form method="post" style="display: inline-block;">
                                        @if (!Model.IsFollowing(cheep.Author))
                                        {
                                            <button type="submit" asp-page-handler="Follow" asp-route-author="@cheep.Author"
                                                style="border: none; color: red; cursor: pointer;">[Follow]</button>
                                        }
                                        else
                                        {
                                            <button type="submit" asp-page-handler="UnFollow" asp-route-author="@cheep.Author"
                                                style="border: none; color: grey; cursor: pointer;">[Un-Follow]</button>
                                        }
                                    </form>
                                }
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                        <p style="position: absolute; bottom: 0px;">
                            <button type="submit" asp-page-handler="Like" asp-route-cheepid="@cheep.Id"
                            asp-route-prev="@cheep.LikedByUser" style="border: none; color: grey; cursor: pointer;">Like</button>
                            @cheep.LikeCount
                            <button type="submit" asp-page-handler="Dislike" asp-route-cheepid="@cheep.Id"
                            asp-route-prev="@cheep.LikedByUser" style="border: none; color: grey; cursor: pointer;">Dislike</button>
                        </p>
                    </li>
                }
            </ul>
        }
    }
    else if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>