@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (User.Identity?.IsAuthenticated == true && (routeName as string == User.Identity.Name))
    {
        <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form method="POST">
                <input style="float: left" type="text" name="NewMessage" for="Text">
                <input type="submit" maxlength="10" value="Share">
            </form>
        </div>

        @if (Model.FailedValidationString != null)
        {
            <div class="cheepbox">
                @Model.FailedValidationString
            </div>
        }

        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li class="box" style="position: relative; padding-bottom: 16px;">
                        <p style="display: inline-block;">
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                                @if (!cheep.Author.Equals(User.Identity.Name))
                                {
                                    <form method="post" style="display: inline-block;">
                                        @if (!Model.IsFollowing(cheep.Author))
                                        {
                                            <button type="submit" asp-page-handler="Follow" asp-route-author="@cheep.Author"
                                                style="border: none; color: red; cursor: pointer;">[Follow]</button>
                                        }
                                        else
                                        {
                                            <button type="submit" asp-page-handler="UnFollow" asp-route-author="@cheep.Author"
                                                style="border: none; color: grey; cursor: pointer;">[Un-Follow]</button>
                                        }
                                    </form>
                                }
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                        <form method="post" style="position: absolute; bottom: 0px;">
                            @{
                                var likedColor = "grey";
                                var dislikedColor = "grey";
                                if (cheep.LikedByUser == true)
                                    likedColor = "blue";
                                else if (cheep.LikedByUser == false)
                                    dislikedColor = "blue";
                            }
                            <button type="submit" asp-page-handler="Like" asp-route-cheepid="@cheep.Id"
                                asp-route-prev="@cheep.LikedByUser"
                                style="border: none; color: @(likedColor); cursor: pointer;">Like
                            </button>
                            @cheep.LikeCount
                            <button type="submit" asp-page-handler="Dislike" asp-route-cheepid="@cheep.Id"
                                asp-route-prev="@cheep.LikedByUser"
                                style="border: none; color: @(dislikedColor); cursor: pointer;">Dislike
                            </button>
                        </form>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    }
    else if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li style="position: relative; padding-bottom: 16px;">
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                    <p style="position: absolute; bottom: 0px;">
                        @{if(User.Identity?.IsAuthenticated == true){
                            <form method="post" style="position: absolute; bottom: 0px;">
                            @{
                                var likedColor = "grey";
                                var dislikedColor = "grey";
                                if (cheep.LikedByUser == true)
                                    likedColor = "blue";
                                else if (cheep.LikedByUser == false)
                                    dislikedColor = "blue";
                            }
                            <button type="submit" asp-page-handler="Like" asp-route-cheepid="@cheep.Id"
                                asp-route-prev="@cheep.LikedByUser"
                                style="border: none; color: @(likedColor); cursor: pointer;">Like
                            </button>
                            @cheep.LikeCount
                            <button type="submit" asp-page-handler="Dislike" asp-route-cheepid="@cheep.Id"
                                asp-route-prev="@cheep.LikedByUser"
                                style="border: none; color: @(dislikedColor); cursor: pointer;">Dislike
                            </button>
                        </form>
                        }
                        else  
                            @cheep.LikeCount
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @* Uses normal 'a' tag instead of razor tags, since it did not play well with our pageno query param
       Maybe because model field and query have different names, or because "page" is reserved? *@
    <div>
        <a href="@($"/{routeName}?page={Model.Pageno - 1}")" class="@(Model.Pageno <= 1 ? "disabled" : "")">Previous</a>
        <a href="@($"/{routeName}?page={(Model.Pageno == 0 ? 2 : Model.Pageno + 1)}")" class="@(Model.Cheeps.Count() < 32 ? "disabled": "")">Next</a>
    </div>
</div>
